.ProductsList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}