.non__editable {

    background-color: #f3f3f3;
    cursor: not-allowed !important;

    &:focus {
        outline: none !important;
    }

    &__icon {
        stroke: gray;
        fill: gray !important;
    }

}