.homePage {
    display: block;

    .banner {
        background-image: url(../../assets/HomePageImg/Banner.avif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 10%;
        height: 400px;
        color: green;

        p {
            font-weight: 600;
            text-align: center;
        }
    }
}