.homePage {
    display: block;

    .banner {
        background-image: url(../../assets/HomePageImg/Banner.avif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 10%;
        height: 400px;
        color: green;

        p {
            font-weight: 600;
            text-align: center;
        }
    }

    .promoContainer{
        background-color: beige;
        padding: 5%;

        .promoTitle {
            padding-bottom: 3%;
            font-weight: 600;
            text-align: center;
        }

        .code {
            border: 2px green dotted;
        }
    }

    .infoContainer{
        padding: 7%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .infoImage{
            background-image: url(../../assets/HomePageImg/PlantsRoom.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 460px;
            position: relative;
        }

        .info_title {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            font-weight: 600;
            color: green;
        }

    }
}