.left {
    width: 30%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    float: left;
    color: green;
}

.right {
    width: 65%;
    float: right;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.ProductsPage {
    padding: 30px 50px;
    display: flex;

    .left {
        flex: 1;
    }

    .right {
        flex: 3;
    }
}