.form {
    height: 60px;
    margin: auto;
}

.left {
    width: 30%;
    padding-left: 1rem;
    margin-left: 1rem;
    float: left;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right {
    width: 65%;
    float: right;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 3rem;
}
