.grid {
    align-content: baseline;
}

.top {
    display: flex;
    width: 100%;
    height: min-content;
    margin-top: 30px;
    
    img {
        width: 20rem;
        height: fit-content;
    }
    form {
        height: fit-content;
        margin: auto;
        background-color: beige;
    }
}

.left {
    width: 30%;
    padding-left: 1rem;
    margin-left: 1rem;
    float: left;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right {
    width: 65%;
    float: right;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}
